<meta http-equiv="refresh" content="60" />
<br />
<div class="title">
  All Questions
</div>
<br />
<div class="post-container">
  <% if @posts.size > 0 %>
    <% @posts.each do |post| %>
      <% if post.group == session[:group] || post.group == nil %>
        <%= render(post)%>
      <% end %>
    <% end %>
  <% else %>
    Be the first one to ask a Question
  <% end %>
 
</div>

